@mixin font {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  @include font;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #aaa;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
  }
}

.section {
  height: 100vh;
}

.header {
  display: flex;
  background: url('../assets/img/header-bg.jpg') center no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  &__Section {
    margin: auto;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  &__Heading {
    animation-name: show;
    &--top {
      animation-duration: 1s;
      letter-spacing: 5px;
      font-weight: 200;
    }
    &--bottom {
      animation-duration: 2s;
      letter-spacing: 3px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  &__Content {
    padding: 25px;
    font-size: 1.5em;
  }
  &__Text {
    text-align: justify;
  }
  &__Heading {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: auto;
  }
}