@import 'main';

.section {
  &__Title {
    color: $main;
    font-size: 2.5rem;
    text-align: center;
    padding: 50px 0 0 0;
  }
}

.header {
  &__Heading {
    &--top {
      font-size: 2.25rem;
    }
    &--bottom {
      font-size: 2.25rem;
    }
  }
}

.about {
  &__Content {
    padding: 15px 25px;
  }
}

.pricing {
  &__Table {
    width: 95%;
  }
}


.contact {
  &__Content {
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__Item {
    margin: 15px 0;
  }
}
